/*.peach-bg {
    background-color: rgb(255, 179, 170);
}

.yellow-bg {
    background-color: rgb(244, 247, 121);
}

.lightblue-bg {
    background-color: rgb(157, 219, 243);
}

.pink-bg {
    background-color: rgb(236, 170, 238);
}

.grey-bg {
    background-color: rgb(199, 199, 199);
}
*/

.peach-bg {
background-color: white;
}

.yellow-bg {
    background-color:white;
}

.lightblue-bg {
    background-color: white;

.pink-bg {
    background-color: white;

.grey-bg {
    background-color: white;