body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 /*reg heading*/ {
    font-size:24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ff8abd;
    
}

h2 {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #ff8abd;
}

h3 /*home heading*/ {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #ff8abd;

}

i {
    color: #e81c73;
}

i1 {
    color: #ff8abd;
}

h4 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
    
}

p {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align:  center;
    color: #ff8abd;


}