.red-bg {
    background-color: rgb(202, 53, 37);
}

.green-bg {
    background-color: rgb(24, 177, 90);
}

.blue-bg {
    background-color: rgb(81, 127, 173);
}

.yellow-bg {
    background-color: rgb(150, 209, 10);
}

.purple-bg {
    background-color: rgb(145, 82, 209);
}
